html,
body {
	height: 100%;
	font-family: "Montserrat", sans-serif;
}

.main-page {
	background: linear-gradient(90deg, #fcfeff 0%, #a5deff 100%);
	/* height: 720px; */
	height: 100%;
	/* display: flex;
    flex-direction: column; */
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 1170px;
	margin: 0 auto;
	height: 100%;
	position: relative;
}

header {
	margin-top: 34px;
	margin-bottom: 56px;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
}

.logo-text {
	margin-left: 18px;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: calc(15 / 12);
	color: #02030d;
}

.wrapper-row {
	display: flex;
	justify-content: space-between;
	height: 100%;
}

main {
	/* width: 585px;
    height: 520px;     */
	background-color: #ffffff;
	/* margin: 0px 0px 80px 52px; */
	padding: 60px 52px;
	align-self: center;
}

main h3,
.success-content p {
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: calc(24 / 16);
	color: #02030d;
	margin-bottom: 16px;
}

main h2,
.success-content h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: calc(24 / 24);
	color: #ff6b0a;
	margin-bottom: 48px;
}

main h1 {
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: calc(72 / 64);
	color: #02030d;
	margin-bottom: 24px;
}

main p {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: calc(24 / 16);
	color: #02030d;
	margin-bottom: 48px;
}

main button,
.form button {
	background: #ff6b0a;
	border-radius: 8px;
	color: #ffffff;
	padding: 12px 24px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: calc(24 / 16);
	cursor: pointer;
	transition: all 0.05s ease-in-out;
}
main button:hover,
.form button:hover {
	background: #ff4b0a;
	font-size: 18px;
}

/* .form button {
	margin: 0 auto;
} */
.wrapper-row img {
	display: flex;
	flex-direction: column;
}

/* /-------------------FACT&FOOTER--------------------------/ */

.fact-page {
	margin-top: 52px;
}

.fact-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1170px;
	margin: 0 auto;
}
.trezub {
	/* margin-top: 52px; */
	margin-bottom: 20px;
}

.fact-wrapper h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: calc(100 / 48);
	color: #02030d;
	margin-bottom: 16px;
}

.fact-text {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: calc(24 / 16);
	text-align: center;
	color: #02030d;
	margin-bottom: 72px;
	width: 875px;
}

.list {
	/* width: 1170px; */
	display: flex;
	justify-content: space-between;
}

.list-item h3,
.form-content h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 24px;
	color: #02030d;
	margin-bottom: 35px;
}

.list-item p {
	width: 330px;
	margin: 0;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: calc(24 / 16);
	color: #02030d;
	margin-bottom: 72px;
}
.footer-page {
	background: linear-gradient(90deg, #fcfeff 0%, #a5deff 100%);
	width: 1170px;
	height: 376px;
	margin: 0 auto;
	padding-top: 52px;
}
/* /-------------------MODAL 1--------------------------/ */
.modal-form {
	height: 600px;
	width: 572px;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
	gap: 32px;
}

.modal-input {
	width: 422px;
	height: 48px;
	background: #ffffff;
	border: 1px solid #005bbb;
	border-radius: 8px;
	padding-left: 8px;
}

/* /-------------------MODAL 2--------------------------/ */
.modal-wrapper {
	width: 100vw;
	height: 100vh;
	background: rgba(70, 70, 76, 0.9);
	/* opacity: 0.9; */
	display: flex;
	position: fixed;
	top: 0;
	left: 0;

	opacity: 0;
	pointer-events: none;

	transition: all 0.3s ease-in-out;
}
.modal-success,
.modal-form {
	margin: auto;
	background: #ffffff;
	padding: 24px;
}
.modal-success {
	height: 368px;
	width: 572px;
}
.close-btn {
	margin-left: 524px;
	background-color: transparent;
	cursor: pointer;
}
.success-content,
.form-content {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal-active {
	opacity: 1;
	pointer-events: all;
}

.gus-anim {
	position: fixed;
	top: 0;
	bottom: 0;
	margin-bottom: auto;
	margin-top: auto;
	width: 100%;
	z-index: 2;
	pointer-events: none;
}
